<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FeedbackAndFAQ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FeedbackAndFAQ.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-logo">
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="home" class="link active">Trang chủ</a></li>
                    <li><a href="subject" class="link">Câu hỏi</a></li>
                    <li><a href="subjectfeedback" class="link">Nhận xét</a></li>

                </ul>
            </div>
            <div class="nav-button">
                <a asp-controller="login" asp-action="Logout"> <button class="btn white-btn" id="loginBtn" onclick="login()">Đăng xuất</button></a>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
