<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech2 etc Tutorial</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="nav">
        <div class="nav-logo">
            <p>LOGO .</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active">Trang chủ</a></li>
                <li><a href="subject" class="link">Câu hỏi</a></li>
                <li><a href="#" class="link">Nhận xét</a></li>

            </ul>
        </div>
        <div class="nav-button">
            <a href="login.html"> <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button></a>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>
    <!-- Home -->
    <section id="home">
        <h2>Đây là dự án đầu tay của tôi về giáo dục</h2>
        <div class="btn">
            <a class="blue" href=""> Khám phá</a>
            <a class="yellow" href=""> Chi tiết</a>

        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="footer-col">
            <h3>Top Sản phẩm</h3>
            <li>Khóa học</li>
            <li>Giới thiệu</li>
            <li>Sự kiện</li>

        </div>
        <div class="footer-col">
            <h3>Top Sản phẩm</h3>
            <li>Khóa học</li>
            <li>Giới thiệu</li>
            <li>Sự kiện</li>

        </div>
        <div class="footer-col">
            <h3>Top Sản phẩm</h3>
            <li>Khóa học</li>
            <li>Giới thiệu</li>
            <li>Sự kiện</li>

        </div>
        <div class="footer-col">
            <h3>Truyền thông</h3>
            <li>Youtube</li>
            <li><img class="eduma" src="https://eduma.vn/wp-content/uploads/2019/02/VNNIC.png"></li>

            <li></li>




        </div>
    </footer>

    <script>

        const next = document.querySelector('.next')
        const prev = document.querySelector('.prev')
        const comment = document.querySelector('#list-comment')
        const commentItem = document.querySelectorAll('#list-comment .item');
        console.log(commentItem)
        var translateY = 0;
        var count = commentItem.length
        next.addEventListener('click', function (event) {
            event.preventDefault();
            if (count == 1) {
                return false;
            }
            translateY += -400
            comment.style.transform = `translateY(${translateY}px)`
            count--;
        })
        prev.addEventListener('click', function (event) {
            event.preventDefault();
            if (count == 3) {
                return false;
            }
            translateY += 400
            comment.style.transform = `translateY(${translateY}px)`
            count++;
        })
    </script>


</body>

</html>
